name: Playwright Tests Login
on:
 workflow_dispatch: 
jobs:
 run-tests:
   timeout-minutes: 5
   runs-on: ubuntu-latest
   env:
     BASE_URL: ${{ secrets.BASE_URL }}
     USERNAME: ${{ secrets.USERNAME }}
     USER_PASSWORD: ${{ secrets.USER_PASSWORD }}     
   steps:
     - uses: actions/checkout@v4
     - uses: actions/setup-node@v4
       with:
         node-version: 22
         cache: 'npm'
     - name: Install dependencies
       run: npm ci
     - name: Cache Playwright Browsers
       id: cache-playwright-browsers
       uses: actions/cache@v3
       with:
         path: ~/.cache/ms-playwright
         key: ${{ runner.os }}-playwright
     - name: Install Playwright Browsers
       if: steps.cache-playwright-browsers.outputs.cache-hit != 'true'
       run: npx playwright install --with-deps
     - name: Run Playwright tests
       run: npm run test:login
     - name: Archive tests results
       if: always()
       uses: actions/upload-artifact@v4
       with:
         name: test-report
         path: './playwright-report/**/*.*'
